.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-image: url("https://ih1.redbubble.net/image.1174734709.7279/flat,750x,075,f-pad,750x1000,f8f8f8.jpg");

}

.listy{
  display: flex;
  flex-direction: row;
}

